.frame-container {
    position: absolute;
    top: 9.5rem;
    left: 8rem;
  }
  .male-user-icon {
    position: relative;
    width: 1.56rem;
    height: 1.56rem;
    object-fit: cover;
  }
  .profile {
    position: relative;
    font-weight: 600;
    left: 1vh;
  }
  .male-user-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-7xs);
  }
  .span {
    color: var(--color-crimson);
  }
  .name {
    position: relative;
    line-height: 2vh;
  }
  .name-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
    margin-top: 2vh;
  }
  .cursor-parent {
    align-self: stretch;
    border-radius: var(--br-9xs);
    background-color: var(--primary-white);
    border: 1px solid var(--grey-300);
    display: flex;
    flex-direction: row;
    padding: var(--padding-5xs) var(--padding-xs) var(--padding-5xs)
      var(--padding-base);
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .dropdown,
.frame-div{
  align-items: flex-start;
  justify-content: flex-start;
}
.dropdown,
.frame-div {
  display: flex;
  flex-direction: column;
  gap: var(--gap-9xs);
}
.frame-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    
    width: 312px;
    height: 36px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.dropdown {
  width: 19.5rem;
}
.save {
  position: relative;
  line-height: 4vh;
  width: 7vh;
}
.save-wrapper {
  border-radius: var(--br-9xs);
  background-color: var(--primary-black);
  display: flex;
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-5xl);
  align-items: center;
  justify-content: center;
  color: var(--primary-white);
  width: 10vh;
}
.dropdown-group,
.dropdown-parent{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.dropdown-group {
  gap: 1.5rem;
}
.dropdown-parent {
  gap: var(--gap-base);
}
.dropdown-parent {
  font-size: var(--lable-lable-3-size);
  color: var(--grey-800);
  height: 40vh;
  width: 50vh;
}
.education,
.kalwe {
width: 89px;
height: 42px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 42px;
color: #000000;
}
.education {
width: 80px;
height: 24px;
position: absolute;
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
top: 5vh;
color: #000000;
}
.kalwe-parent {
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-9xl);
}
.courses,
.home {
  position: relative;
  letter-spacing: 0.02em;
}
.courses {
  cursor: pointer;
}
.home-parent {
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.frame-child {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  object-fit: cover;
}
.users-name {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.02em;
  font-family: var(--font-poppins);
  color: var(--grey-800);
  text-align: left;
}
.arrow-down-s-line-icon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.select-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;
  left: 10vh;
  width: 192px;
  height: 40px;  
  background: #FDF2D0;
  border-radius: 4px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.frame-parent,
.group-child {
  position: absolute;
  left: 0;
  width: 100%;
}
.frame-parent {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 24px;
gap: 100px;
width: 100%;
height: 72px;
left: 0px;
top: 48px;
background: #FFF2CC;
}
.group-child {
  position: absolute;
  left: 0;
  width: 100%;
}
.kalwe-education-inc {
  position: absolute;
  top: 140px;
  left: 46%;
  letter-spacing: 0.04em;
}
.group-inner,
.group-item {
  position: absolute;
  top: 2.5px;
  left: 100.5px;
  background-color: var(--grey-800);
  border-right: 1px solid var(--grey-600);
  box-sizing: border-box;
  width: 1px;
  height: 18px;
}
.group-inner {
  left: 301.5px;
}
.careers,
.privacy-policy,
.terms-conditions {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.04em;
}
.privacy-policy,
.terms-conditions {
  left: 143px;
}
.terms-conditions {
  left: 354px;
}
.line-parent {
  position: absolute;
  top: 104px;
  left: 508px;
  width: 521px;
  height: 24px;
}
.your-education-patner {
  position: absolute;
  top: 9px;
  left: 131px;
  font-weight: 600;
  display: inline-block;
  width: 59px;
}
.education1,
.kalwe1 {
  position: relative;
}
.education1 {
  font-size: var(--font-size-base);
  font-weight: 300;
  margin-top: -14px;
}
.kalwe-group {
  position: absolute;
  top: 6px;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-9xl);
  font-family: var(--font-poppins);
}
.line-icon {
  position: absolute;
  top: -0.5px;
  left: 114.5px;
  width: 1px;
  height: 65px;
}
.your-education-patner-parent {
  position: absolute;
  top: 16px;
  left: 680px;
  width: 190px;
  height: 64px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--primary-black);
  font-family: var(--font-inter);

} 
.instance-child,
.rectangle-parent {
  position: absolute;
  left: 0;
  width: 100%;
}

.rectangle-parent {
  top: 44rem;
  height: 180px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--text-100);
  background: #FDF2D0;
}
.instance-child {
  top: 0;
  background-color: var(--primary-black);
  height: 48px;
}
.price-tag-3-fill-icon {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.get-20-off-container {
width: 217px;
height: 18px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
flex: none;
order: 1;
flex-grow: 0;
}
.price-tag-3-fill-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.click-here-to {
  width: 125px;
height: 15px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 15px;
/* identical to box height */

letter-spacing: 0.02em;

color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.click-here-to-frame,
.frame-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  
}
.click-here-to-frame {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 3px 24px;
gap: 10px;

width: 173px;
height: 21px;

background: #FFFFFF;
border-radius: 4px;
flex: none;
order: 0;
flex-grow: 0;
left: 2vh;
}
.frame-group {
position: absolute;
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 40px;
width: 100vh;
height: 20px;
flex: none;
order: 0;
flex-grow: 0;
top: 2vh;
left: 4vh;
}
.rectangle-group {
  position: absolute;
width: 100%;
height: 48px;
left: 0px;
top: 0px;
background: #000000;
}
body{
width: 100%;
height: 100vh;
overflow-x: hidden;

background: #FFFFFF;
}
.list-items{
  width: 134px;
  height: 136px;
  position: absolute;
  margin-top: 30vh;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  display: none;
  right: 5vh;
}
.select-btn.open ~ .list-items{
  display: block;
  z-index: 1;
}
.list-items .item{
  display: flex;
  align-items: center;
  list-style: none;
  height: 4vh;
  cursor: pointer;
  transition: 0.3s;
  padding: 0 15px;
  border-radius: 8px;
}
.list-items .item:hover{
  background-color: #e7edfe;
}
.item .item-text{
  font-size: 13px;
  font-weight: 400;
  color: #333;
  position: absolute;
  right: 5vh;
}
a{
  text-decoration: none;
  color: #000000;
}